spring.application.name=auth-service
server.port=8081

auth.jwt.secret=${AUTH_JWT_SECRET}
auth.jwt.exp-minutes=60

spring.datasource.url=jdbc:postgresql://localhost:5432/Todos
spring.datasource.username=postgres
spring.datasource.password=postgres